<template>
  <h1>Index des recettes</h1>

  <ul>
    <li v-for="[key, cds] of Object.entries(groupedInitial)" :key="key">
      <h5>{{ key }}</h5>

      <ul>
        <li v-for="cd of cds" :key="cd.frontmatter.recipe.id">
          <VPLink :href="cd.url">{{ cd.frontmatter.recipe.title }}</VPLink>
        </li>
      </ul>
    </li>
  </ul>
</template>

<script setup lang="ts">
import type { ContentData } from 'vitepress';
// eslint-disable-next-line import/no-extraneous-dependencies
import VPLink from 'vitepress/dist/client/theme-default/components/VPLink.vue';
// eslint-disable-next-line import/no-extraneous-dependencies
import { computed } from 'vue';

// eslint-disable-next-line import/named
import { data as recipesData } from './recipes.data';

const recettes = computed(() =>
  (recipesData as ContentData[]).sort((a, b) => {
    return a.frontmatter.recipe.title.localeCompare(b.frontmatter.recipe.title);
  })
);

const groupedInitial = computed(() =>
  // eslint-disable-next-line unicorn/no-array-reduce
  recettes.value.reduce<Record<string, ContentData[]>>((accumulator, cd) => {
    const key = (cd.frontmatter.recipe.title[0] as string).toUpperCase();

    if (accumulator[key] === undefined) {
      accumulator[key] = [];
    }

    accumulator[key].push(cd);
    return accumulator;
  }, {})
);
</script>
