<template>
  <h1>{{ frontmatter.hero.name }}</h1>

  <template v-if="features.length > 0">
    <h3>Dernières recettes</h3>

    <div class="columns is-multiline">
      <div v-for="feature of features" :key="feature.id" class="column is-one-third">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <VPLink :href="'/recipes/' + feature.slug">
                {{ feature.title }}
              </VPLink>
            </p>
          </header>

          <div class="card-content">
            <div class="content">Quantités pour {{ feature.servings }} {{ feature.servingsUnit }}</div>
          </div>
        </div>
      </div>
    </div>
  </template>
</template>

<script setup lang="ts">
import type { ContentData } from 'vitepress';
// eslint-disable-next-line import/no-extraneous-dependencies
import { useData } from 'vitepress';
// eslint-disable-next-line import/no-extraneous-dependencies
import VPLink from 'vitepress/dist/client/theme-default/components/VPLink.vue';
// eslint-disable-next-line import/no-extraneous-dependencies
import { computed } from 'vue';

// eslint-disable-next-line import/named
import { data as recipesData } from './recipes.data';

const { frontmatter } = useData();
const features = computed(() =>
  (recipesData as ContentData[])
    .map((cd) => cd.frontmatter.recipe)
    .sort((a, b) => {
      return b.createdAt.localeCompare(a.createdAt);
    })
    .slice(0, 9)
);
</script>
