<template>
  <SideBar />

  <div class="content main">
    <MyHome v-if="frontmatter.layout === 'home'" />

    <AllRecipes v-if="frontmatter.layout === 'recettes'" />

    <OneRecipe v-if="frontmatter.layout === 'recipe'" />

    <OneCategory v-if="frontmatter.layout === 'category'" />

    <Content v-else />
  </div>
</template>

<script setup lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { useData } from 'vitepress';

import AllRecipes from './AllRecipes.vue';
import MyHome from './MyHome.vue';
import OneCategory from './OneCategory.vue';
import OneRecipe from './OneRecipe.vue';
import SideBar from './SideBar.vue';

const { frontmatter } = useData();
</script>
