<template>
  <h1>{{ category.name }}</h1>

  <ul>
    <li v-for="recipe of recipes" :key="recipe.id">
      <VPLink :href="'/recipes/' + recipe.slug">{{ recipe.title }}</VPLink>
    </li>
  </ul>
</template>

<script setup lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { useData } from 'vitepress';
// eslint-disable-next-line import/no-extraneous-dependencies
import VPLink from 'vitepress/dist/client/theme-default/components/VPLink.vue';
// eslint-disable-next-line import/no-extraneous-dependencies
import { computed } from 'vue';

const { frontmatter } = useData();

const category = computed(() => frontmatter.value.category);

const recipes = computed(() => frontmatter.value.category.categoriesRecipes.map((cr) => cr.recipe));
</script>
