<template>
  <h1>{{ recipe.title }}</h1>

  <div class="control field has-addons is-horizontal servings">
    Quantités pour

    <div class="control">
      <input v-model="servings" class="input is-small" type="number" />
    </div>

    <p class="control">
      <a class="button is-small is-static">
        {{ recipe.servingsUnit }}
      </a>
    </p>
  </div>

  <p class="maj">Mise à jour le {{ updatedAt }}</p>

  <div class="categories">
    Catégorisé dans
    <ul class="inline">
      <li v-for="category of recipe.categoriesRecipes.map((cr) => cr.category)" :key="category.id">
        <VPLink :href="'../categories/' + category.name.toLocaleLowerCase()">
          {{ category.name }}
        </VPLink>
      </li>
    </ul>
  </div>

  <div class="columns is-multiline">
    <div class="column is-half">
      <SectionList v-slot="{ entry }" title="Ingrédients" :liste="ingredients">
        <template v-if="entry.amountint !== 0 || entry.amountnum !== 0">
          {{ entry.amount }}

          <small v-if="[2,3,4,8].includes(entry.amountdenum) && entry.amountint < 10" class="ml-1">
            (<span v-if="entry.amountint !== 0" :class="{'mr-1': entry.amountnum !== 0}">
              {{ entry.amountint }}
            </span><span v-if="entry.amountnum !== 0">
              {{ entry.amountnum }}/{{ entry.amountdenum }}
            </span>)
          </small>

          <span v-if="entry.unit?.name !== undefined" :class="{ 'mr-1': true, 'ml-1': entry.amount != 0}">
            {{ entry.unit?.name }}
          </span>
          &mdash;
        </template>
        {{ entry.ingredient.name }}
      </SectionList>
    </div>

    <div class="column is-half">
      <SectionList v-slot="{ entry }" title="Ingrédients" :liste="instructions">
        <p v-html="md.renderInline(entry.instruction)"></p>
      </SectionList>
    </div>
  </div>
</template>

<script setup lang="ts">
import { fraq } from 'fractions-math';
// eslint-disable-next-line import/no-extraneous-dependencies
import MarkdownIt from 'markdown-it';
// eslint-disable-next-line import/no-extraneous-dependencies
import { useData } from 'vitepress';
// eslint-disable-next-line import/no-extraneous-dependencies
import VPLink from 'vitepress/dist/client/theme-default/components/VPLink.vue';
// eslint-disable-next-line import/no-extraneous-dependencies
import { computed, ref, watchEffect } from 'vue';

import SectionList from './SectionList.vue';

const { frontmatter } = useData();

interface Unit {
  id: string;
  name: string;
  short?: string;
  type?: 'VOLUME' | 'WEIGHT';
  factor?: number;
}

interface Ingredient {
  id: string;
  name: string;
}

interface CategorieRecipe {
  category: { id: string; name: string };
}

interface Line {
  line: number;
}

interface IngredientRecipe extends Line {
  amountint: number;
  amountnum: number;
  amountdenum: number;
  amount: number;
  unit: Unit;
  ingredient: Ingredient;
}

interface IngredientSection extends Line {
  title?: string;
}

interface Instruction extends Line {
  instruction: string;
}

interface InstructionSection extends Line {
  title?: string;
}

interface Recipe {
  id: string;
  createdAt: string;
  updatedAt: string;
  title: string;
  servings: number;
  servingsUnit: string;
  categoriesRecipes: CategorieRecipe[];
  ingredientsRecipes: IngredientRecipe[];
  ingredientsSections: IngredientSection[];
  instructions: Instruction[];
  instructionsSections: InstructionSection[];
}

const md = new MarkdownIt();

const recipe = computed<Recipe>(() => frontmatter.value.recipe);

const servings = ref(1);

watchEffect(() => {
  servings.value = recipe.value.servings;
});

const updatedAt = computed(() => new Date(Date.parse(recipe.value.updatedAt)).toLocaleDateString());

type BySection<T> = Array<{
  title?: string;
  liste: T[];
}>;

const ratio = computed(() => fraq(servings.value).div(recipe.value.servings));

const ratioedIngredients = computed(() =>
  recipe.value.ingredientsRecipes.map((ingredient) => {
    let amount = fraq(ingredient.amountint);

    if (ingredient.amountnum !== 0 && ingredient.amountdenum !== 0) {
      amount = amount.add([ingredient.amountnum, ingredient.amountdenum]);
    }

    amount = amount.mul(ratio.value).reduce();
    const parts = amount.toParts();

    if (parts.d === 1) {
      parts.c = parts.n;
      parts.n = 0;
    }

    return {
      ...ingredient,
      amountint: parts.s * parts.c,
      amountnum: parts.n,
      amountdenum: parts.d,
      amount: Number(amount.toNumber().toPrecision(3)),
    };
  })
);

const ingredients = computed(() => {
  const returnValue: BySection<IngredientRecipe> = [{ liste: [] }];

  for (const ir of ratioedIngredients.value) {
    const section = recipe.value.ingredientsSections.find((s) => s.line === ir.line);

    if (section !== undefined) {
      returnValue.push({ title: section.title, liste: [] });
    }

    returnValue.at(-1)?.liste.push(ir);
  }

  if (returnValue[0].liste.length === 0) {
    returnValue.shift();
  }

  if (returnValue.length > 1 && returnValue[0].title === undefined) {
    returnValue[0].title = 'Généralités';
  }

  return returnValue;
});

const instructions = computed(() => {
  const returnValue: BySection<Instruction> = [{ liste: [] }];

  for (const instruction of recipe.value.instructions) {
    const section = recipe.value.instructionsSections.find((s) => s.line === instruction.line);

    if (section !== undefined) {
      returnValue.push({ title: section.title, liste: [] });
    }

    returnValue.at(-1)?.liste.push(instruction);
  }

  if (returnValue[0].liste.length === 0) {
    returnValue.shift();
  }

  if (returnValue.length > 1 && returnValue[0].title === undefined) {
    returnValue[0].title = 'Généralités';
  }

  return returnValue;
});
</script>

<style scoped lang="scss">
ul.inline {
  display: inline;
  margin: 0;

  li {
    display: inline;

    &:not(:last-of-type)::after {
      content: ', ';
    }
  }
}
</style>
