<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">{{ title }}</p>
    </header>

    <div class="card-content">
      <div class="content">
        <ul class="groupe">
          <li v-for="(section, index) of liste" :key="index">
            <p v-if="section.title !== undefined" class="titre">
              {{ section.title }}
            </p>

            <ul class="ligne">
              <li v-for="entry of section.liste" :key="entry.line">
                <slot :entry="entry" />
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts" generic="T extends { line: number }">
defineProps<{
  title: string;
  liste: Array<{
    title?: string;
    liste: T[];
  }>;
}>();

defineSlots<{
  default(props: { entry: T }): any;
}>();
</script>

<style scoped lang="scss">
ul.groupe {
  list-style: none;
  margin: 0;
  > li {
    > ul {
      margin-top: 0;
    }
    > p.titre {
      margin-bottom: 0;
      font-style: italic;
    }
  }
}
</style>
