<template>
  <menu>
    <aside class="menu">
      <ul class="menu-list">
        <li><a href="/">Accueil</a></li>
      </ul>

      <p class="menu-label">Catégories</p>

      <ul class="menu-list">
        <li v-for="cat of categories" :key="cat.frontmatter.category.id">
          <VPLink :href="cat.url">{{ cat.frontmatter.category.name }}</VPLink>
        </li>
      </ul>

      <ul class="menu-list mt-6">
        <li><a href="/recettes.html">Toutes les recettes</a></li>
      </ul>
    </aside>
  </menu>
</template>

<script setup lang="ts">
import type { ContentData } from 'vitepress';
// eslint-disable-next-line import/no-extraneous-dependencies
import VPLink from 'vitepress/dist/client/theme-default/components/VPLink.vue';
// eslint-disable-next-line import/no-extraneous-dependencies
import { computed } from 'vue';

// eslint-disable-next-line import/named
import { data as categoriesData } from './categories.data';

const categories = computed(() =>
  (categoriesData as ContentData[]).sort((a, b) =>
    a.frontmatter.category.name.localeCompare(b.frontmatter.category.name)
  )
);
</script>

<style lang="scss" scoped>
@import 'bulma/sass/utilities/mixins.scss';

.strike {
  text-decoration: line-through;
}

.active {
  background-color: var(--link-light);
}

menu {
  margin-left: 1rem;
  margin-top: 0px;
  padding: 0;

  @include mobile {
    z-index: 10;
    margin-left: 0px !important;
    padding-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    overflow-x: hidden;

    &:hover {
      background: white;
      display: block;
      margin-left: 1rem !important;
      width: 200px;
    }

    &:not(:hover) {
      white-space: nowrap;

      ul,
      .menu-label {
        padding-left: 0;
        padding-right: 0;
      }

      .menu-label,
      .menu-list a {
        position: relative;
        text-indent: -9999px;
        width: 100%;
      }

      .menu-list a:after {
        align-items: center;
        bottom: 0;
        content: '•';
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
        text-align: center;
        text-indent: 0;
        top: 0;
        width: 2rem;
      }
    }
  }
}
</style>
