@charset "utf-8";

@import "bulma/css/bulma.css";

@import "bulma/sass/utilities/mixins.scss";

#app {
  display: grid;
  grid-template-areas: "sidebar main ";
  grid-template-columns: 165px 1fr;

  @include widescreen {
    grid-template-columns: 200px 1fr;
  }

  @include mobile {
    grid-template-columns: 30px 1fr;
  }

  > menu {
    grid-area: sidebar;
  }

  .main {
    grid-area: main;
  }
}

@include mobile {
  .content ul {
    margin-left: 1.3em;
  }

  .card-header-title {
    padding: 0.5rem 0.5rem;
  }

  .card-content {
    padding: 0.5rem;
  }
}
